
.containerFil{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
}

h2{
    margin-left: 10px;
    color: #344D67;
}


