.individuales{
<<<<<<< HEAD
    background-color:  #223142;
    width:320px;
    display: flex;
    position: relative;
}

.text-center{
    color: #6ECCAF;
}

.cajaDescripción{
    position: absolute;
}

=======
    display: grid;
    width: 300px;
    background-color: cadetblue;
}
>>>>>>> a6f4877e35d67d1d1549eda0eac38a81fccb56e7
