.individuales{
    background-color:#223142;
    width:fit-content;
    display: flex;
}

.text-center{
    margin: 20px;
    color: #6ECCAF !important;
}

.cajaDescripción{
    position: absolute;
}

.btn{
    background-color: #6ECCAF !important;
    color: #344D67 !important;
    padding: 5px;
}

.targ{
    position: relative;
    width: 300px
}