.barra{
    position: absolute;
    height: 168px;
    background-color: #344d67; 
}

h1{
    color: #6ECCAF !important;
    margin-left: 100px;
}


.nav-link-active{
    background-color: #6ECCAF !important;
    font-weight: 500 #344d67 !important;
    margin: 30px;
}

.nav-link{
    font-weight: 500 #6ECCAF !important;
    margin: 30px;
}

