<<<<<<< HEAD
.tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    margin-right: 140px;
    margin-left: 120px
}

.filtros{
    margin-left: 20px;
    margin-top: 20px;
}


=======
.fuente{
    background-color: azure;
    color: blueviolet;
}
>>>>>>> a6f4877e35d67d1d1549eda0eac38a81fccb56e7
