.container-home{
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: #ffffffe6;
    height: 600px;
    width: 600px;
    position: fixed;
    top: 6%;
    left: 26.5%;
}

.align-self-center {
    align-self: center;
}

.container-text{
    display: grid;
    align-self: center;
    margin-bottom: 10%;

}

.text-center{
    font-weight: 500;
    --bs-text-opacity: 1;
  color: #344d67 !important;
}


.container-buttons{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    
}
.boton{
    background-color: #344d67;
    color: #6eccaf;
    margin-right: 10px;
    margin-top: 25px;
    padding: 15px;
    width: 113px;
}

.t1{
    margin-top: 35px;
    margin-bottom: 25px;
    
}
.t2{
    margin-bottom: 30px;
    
}

.t4{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    
}

.t6{
    margin-top: 10px;
    
}

